<style>
    body, html {
    margin: 0px;
    padding: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #0D92F4;
    color: #048b94;
}

nav {
    background-color: #091057;
    margin-bottom: 30px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; 
}

nav a {
    color: #d2f03c;
    text-decoration: none;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
}

nav a:hover, nav a:active {
    background-color: #DBD3D3;
    color: #091057;
}


@media (max-width: 768px) {
    nav {
        flex-direction: column; 
        align-items: center;
        padding: 10px 0; 
    }

    nav a {
        width: 90%;
        margin: 5px 0; 
    }
}
    </style>