

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', sans-serif;
    background: linear-gradient(to bottom, #1E90FF, #f4f4f4);
    color: #333;
    line-height: 1.6;
    scroll-behavior: smooth;
    text-align: center;
}


nav {
    background-color: #ce1f10; 
    padding: 1em;
    display: flex;
    justify-content: center;
    box-shadow: 0em .25em .5em rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav a {
    color: #fff; 
    text-decoration: none;
    margin: 0 1em;
    font-size: 1.25em;
    transition: transform 0.2s, background-color 0.3s;
    padding: .3125em .625em;
    border-radius: .3125em;
}

nav a:hover { 
    transform: scale(1.1);
    background-color: #000000;
    color: #ffffff;
}


header {
    text-align: center;
    padding: 1.25em;
    color: #d01e0e;
    background-color: #fff;
    box-shadow: 0em .25em .5em rgba(0, 0, 0, 0.1);
}

header img {
    max-width: 300%;
    height: auto;
    border-radius: .3125em;
    margin-bottom: .625em;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .625em;
}

.content {
    width: 80%;
    max-width: 48em;
    margin: 1.25em 0;
    padding: 1.25em;
    background: rgba(255, 255, 255, 0.9);
    border-radius: .625em;
    box-shadow: 0 .25em .375em rgba(0, 0, 0, 0.1);
}

.image-container {
    width: 100%;
    text-align: center;
    margin: 1.25em 0;
}

.image-container img {
    max-width: 150%;
    border-radius: .625em;
}


ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    padding: .3125em 0;
    border-bottom: .125em solid #ddd;
}

ul li strong {
    color: #d72010;
}

ul li span {
    display: block;
    font-size: 0.9rem;
    color: #555;
    margin-top: .3125em;
}


footer {
    text-align: center;
    padding: 1.25em;
    margin-top: 1.25em;
    background-color: #d53021;
    color: #fff;
    font-size: 1.1rem;
}


.container:hover {
    transform: scale(1.02);
    transition: transform 0.2s ease-in-out;
}



@media (max-width: 48em) {
    nav a {
        font-size: 1em;
    }
    .content {
        width: 90%;
    }
    
}
